/*NoCap3D Template Details*/
/*Colors:
#FFEA00
#BD3BFF
#ff1a1a
#00C8E7
*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow-x: hidden;
    background: black;
}

.v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.v3d-simple-preloader-background{
  background-color: black;
}
.v3d-simple-preloader-bar {
    background: gold;
}
.v3d-simple-preloader-logo {
    background-image: url("media/nocap_minxl.png");
    background-size: cover;
}
.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.fullscreen-open {
    background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
    background-image: url('media/fullscreen_close.svg');
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* Top Navigation CSS */
/*Colors:
#FFEA00
#BD3BFF
#ff1a1a
#00C8E7
*/
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav img {
position: relative;
text-align: center;
top: 6px;
left: 10px;
width: 50px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
  font-weight: lighter;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: gold;
  font-weight: bolder;
  text-shadow: 2 2 white;
}
.topnav a.active:hover {
  color: black;
  font-weight: bolder;
  background-color: #BD3BFF;
}


/*Video Backgroun CSS*/

/* Style the video: 100% width and height to cover the entire window */
#background-video {
  position: relative;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  left: -12.5%;
  width: 125%;
  height: 200%;
}

.wrapper {
  position: relative;
  width: 100%;
}
.wrapper video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.wrapper .overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, black 80%, rgba(0,0,0,0) 100%);
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid gold; /* The typwriter cursor */
  color: white;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  display: inline-flex;
  white-space: pre-line;; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typewriter2 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid pink; /* The typwriter cursor */
  color: white;
  font-size: 24px;

  font-family: 'Roboto Mono', monospace;
  display: inline-flex;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret2 .75s step-end infinite;
}
.center-h h1 {
  margin-left: 50%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #BD3BFF; }

}
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* The typing effect 2 */
@keyframes typing2 {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect 2 */
@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color: gold; }

}
@keyframes blink2 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.container {
  height: auto;
  top: 2em;
  position: flex;
}

.centerlinks {
  margin-left: 50%;
  margin-top: 2em;
  display: inline-flex;
  text-decoration: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.button {
  background-color: black;
  background-clip: border-box;
  color: gold;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  padding-bottom: 3px;
  border-radius: 35px;
  border-color: #BD3BFF;
  border-width: 6px;
  display: inline-flex;
  font-size: 25px;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: black;
  background-clip: border-box;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  border-radius: 35px;
  border-color: gold;
  border-width: 6px;
  text-align: center;
  display: inline-flex;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}

#video_rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#caprotate {
  max-height: 250px;
}
#construction {
  max-width: 100%;
  display: inline-flex;
}
#video_preset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wallpapervideos {
  max-height: 250px;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
