/*NoCap3D Template Details*/
/*Colors:
#FFEA00
#BD3BFF
#ff1a1a
#00C8E7
*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background: black;
}

.v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.v3d-simple-preloader-background{
  background-color: black;
}
.v3d-simple-preloader-bar {
    background: gold;
}
.v3d-simple-preloader-logo {
    background-image: url("media/nocap_minxl.png");
    background-size: cover;
}
.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.fullscreen-open {
    background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
    background-image: url('media/fullscreen_close.svg');
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* Top Navigation CSS */
/*Colors:
#FFEA00
#BD3BFF
#ff1a1a
#00C8E7
*/
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav img {
position: relative;
text-align: center;
top: 6px;
left: 10px;
width: 50px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
  font-weight: lighter;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: gold;
  font-weight: bolder;
  text-shadow: 2 2 white;
}
.topnav a.active:hover {
  color: black;
  font-weight: bolder;
  background-color: #BD3BFF;
}


/*Video Backgroun CSS*/

/* Style the video: 100% width and height to cover the entire window */
#background-video {
  position: relative;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  left: -12.5%;
  width: 125%;
  height: 200%;
}

.wrapper {
  position: relative;
  width: 100%;
}
.wrapper video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.wrapper .overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, black 80%, rgba(0,0,0,0) 100%);
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid gold; /* The typwriter cursor */
  color: white;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  display: inline-flex;
  white-space: pre-line;; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typewriter2 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid pink; /* The typwriter cursor */
  color: white;
  font-size: 24px;

  font-family: 'Roboto Mono', monospace;
  display: inline-flex;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing2 3s steps(40, end),
    blink-caret2 .75s step-end infinite;
}
.center-h h1 {
  margin-left: 50%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.left-h h1 {
  margin-left: 20%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.right-h h1 {
  margin-left: 80%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}.center-p p {
  margin-left: 50%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.left-p {
  margin-left: 35%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
}
.right-p p {
  margin-left: 80%;
  margin-top: 2em;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #BD3BFF; }

}
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* The typing effect 2 */
@keyframes typing2 {
  from { width: 0 }
  to { width: 30% }
}

/* The typewriter cursor effect 2 */
@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color: gold; }

}
@keyframes blink2 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.container {
  height: auto;
  top: 2em;
  position: flex;
}

.centerlinks {
  margin-left: 50%;
  margin-top: 2em;
  position: absolute;
  text-decoration: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.centersocial {
  margin-left: 50%;
  margin-top: 5em;
  position: absolute;
  text-decoration: none;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
}
.button_zedge {
  background-color: black;
  background-clip: border-box;
  color: gold;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  padding-bottom: 3px;
  border-radius: 35px;
  border-color: #BD3BFF;
  border-width: 6px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.button_zedge:hover {
  background-color: black;
  background-clip: border-box;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  border-radius: 35px;
  border-color: gold;
  border-width: 6px;
  text-align: center;
  display: inline-flex;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.button_twitch {
  background-color: black;
  background-clip: border-box;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  padding-bottom: 3px;
  border-radius: 35px;
  border-color:  #cc00ff;
  border-width: 6px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.button_twitch:hover {
  background-color: black;
  background-clip: border-box;
  color: #cc00ff;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  border-radius: 35px;
  border-color: gray;
  border-width: 6px;
  text-align: center;
  display: inline-flex;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.button_youtube {
  background-color: black;
  background-clip: border-box;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  margin-top: 2em;
  padding: 2px 15px;
  padding-bottom: 3px;
  border-radius: 35px;
  border-color:  #cc0000;
  border-width: 6px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.button_youtube:hover {
  background-color: black;
  background-clip: border-box;
  color: #cc00ff;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 2px 15px;
  border-radius: 35px;
  border-color: gray;
  border-width: 6px;
  text-align: center;
  display: inline-flex;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
#video_rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#caprotate {
  max-height: 250px;
}
#construction {
  max-width: 100%;
  display: inline-flex;
}
#video_preset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wallpapervideos {
  max-height: 250px;
}
#gifvideos {
  max-height: 100px;
}
#about_art {
  max-height: 250px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
#about_p {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  letter-spacing: 3px;
  margin-left: 15%;
  max-width: 550px;
}
@media screen and (max-width: 600px) {
  #about_p {
    font-size: 15px;
    margin-right: 2em;
  }
  .column h1 {
    font-size: 23px;
  }
  .column2 h1 {
    font-size: 15px;
  }
  #wallpapervideos {
    max-width: 200px;
  }
}
@media screen and (max-width: 400px) {
  #about_p {
    font-size: 15px;
    margin-right: 2em;
    margin-bottom: 5em;
  }
  #wallpapervideos {
    max-width: 150px;
  }
  .topnav a {
    font-size: 18px;

  }
  .left-h h1 {
    font-size: 25px;
  }
}
.fa {
  padding: 20px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}
.fa:hover {
    background-color: gray;
    border-color: white;
}
@media screen and (max-width: 600px) {
  .fa {
    padding: 18px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
  }
  .fa:hover {
      background-color: black;
      border-color: white;
  }
}
@media screen and (max-width: 400px) {
  .fa {
    display: inline;
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
  }
  .fa:hover {
      background-color: black;
      border-color: white;
  }
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
